/* landing logo animation */
@keyframes logo {
  0% {
    transform: translateY(-70px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* landing text animation */
@keyframes txt {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes txt_up {
  0% {
    transform: translateY(70px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* mobile menu animation */
@keyframes icon-ani {
  0% {
    width: 100%;
  }
  50% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
